.create-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-input {
  border-radius: 4px;
  font-size: 24px;
  font-weight: 300;
  height: 35px;
  margin-bottom: 15px;
  width: 300px;
}

button {
  height: 25px;
  margin: 12px 0px;
  width: 125px;
}
